################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw2/hw2.o
/hw2/libhw2.a
/hw3/hw3
/hw3/bleh.png
